.Explor_btn {
  background: linear-gradient(100.98deg, #FFC55F 0%, #FB3951 58.18%, #E25A64 100%);
  border-radius: 15px;
}

.timelineBox_contain {
  padding: 10px;
  padding-right: 0px;
  background-image: url('../../assets/image/timeline/timeline_bg2.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;

  @media (max-width: 900px) {
    padding: 10px;
    padding-left: 0px;
    background-image: url('../../assets/image/timeline/timeline_bg1.png');
    background-position: right;
  }

  @media (max-width: 640px) {
    background: unset;
    padding: unset;
  }
}

.timelineBox {
  background-image: url('../../assets/image/timeline/timeline_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.timelineBox_contain2 {
  padding: 10px;
  padding-left: 0px;
  background-image: url('../../assets/image/timeline/timeline_bg1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;

  @media (max-width: 640px) {
    background: unset;
    padding: unset;
  }
}

.timelineBox2 {
  background-image: url('../../assets/image/timeline/timeline_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nftBuyBox {
  background-image: url('../../assets/image/road-map/buyBoxBg.png');
  background-size: 100% 100%;
}

.creatorBox {
  background-image: url('../../assets/image/road-map/creatorBoxBg.png');
  background-size: 100% 100%;
}

.firstScBg {
  background-image: url('../../assets/image/section/firstBg.png');
  background-size: 100%;
}

.fourthScBg {
  background-image: url('../../assets/image/section/fourthBg.png');
  background-size: 100%;
}

.fifthScBg {
  background-image: url('../../assets/image/section/fifthBg.png');
  background-size: 100%;
}

.timeline_image1 {
  background-image: url('../../assets/image/timeline/item1.png');
  background-size: 100% 100%;
}

.timeline_image2 {
  background-image: url('../../assets/image/timeline/item2.png');
  background-size: 100% 100%;
}

.timeline_image3 {
  background-image: url('../../assets/image/timeline/item3.png');
  background-size: 100% 100%;
}

.timeline_image4 {
  background-image: url('../../assets/image/timeline/item4.png');
  background-size: 100% 100%;
}

.timeline_image5 {
  background-image: url('../../assets/image/timeline/item5.png');
  background-size: 100% 100%;
}

.timeline_image6 {
  background-image: url('../../assets/image/timeline/item6.png');
  background-size: 100% 100%;
}