.box-border-image {
  background-image: url('../../assets/image/road-map/buyBoxBg.png');
  background-size: 100% 100%;
}

.mint-btn-1 {
  background: linear-gradient(100.98deg, #FB3951 0%, #323150 100%);
  border: 1px solid #FB3951;
  border-radius: 30px;
}