@import url('./tailwindcss.css');

.container_ {
  max-width: 1280px;
  margin: auto;
}

// timeline response
.MuiTimelineItem-root {
  @media (max-width: 900px) {
    &::before {
      content: unset;
    }
  }
}

// header affix css
.header-wrapper {
  width: 100%;

  .header-container {
    height: 100px;
    border-bottom: 3px solid #FC9259;

    animation-name: anim2;
    animation-duration: 0.5s;
  }

  .header-animation {
    position: fixed;
    z-index: 1000;
    top: 0px;

    height: 100px;
    background-color: #2b191f;
    border-bottom: 3px solid #FC9259;
    overflow: hidden;

    animation-name: anim;
    animation-duration: 0.5s;
  }
}

@keyframes anim {
  0% {
    height: 0px;
  }

  100% {
    height: 100px;
  }
}

@keyframes anim2 {
  0% {
    height: 0px;
  }

  100% {
    height: 100px;
  }
}

.custom-slick {
  .slick-container {

    .slick-prev,
    .slick-next {
      display: none !important;
    }

    .creator-slick-item-contain {
      padding: 10px;

      .creator-slick-item {
        background-image: url('../../assets/image/load-map/buyBoxBg.png');
        background-size: 100% 100%;
      }
    }
  }
}

.slider-wrapper_ {
  @extend .custom-slick;
}

.slider-wrapper_revert {
  @extend .custom-slick;

  .slick-container {
    transform: rotate(180deg);

    .creator-slick-item-contain {
      transform: rotate(180deg);
    }
  }
}