@use "sass:map";
@use './global.config.scss' as v;

.footer-menu-item {
  background: map.get(v.$theme-colors, 'color-9');
  border-radius: 400px
}

.footer-background {
  background-image: radial-gradient(circle 300px at 50% 150%, #fc925996, #ffffff0a);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}